* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-red: #BD2F2F;
    --theme-grey: #777777;
    --theme-dark: #232323;
}

::selection {
    background: var(--theme-red);
    color: #fff;
}

::-moz-selection {
    background: var(--theme-red);
    color: #fff;
}

.text-theme-red {
    color: var(--theme-red);
}

.text-theme-grey {
    color: var(--theme-grey);
}

.text-theme-dark {
    color: var(--theme-dark);
}

[class*="col-"] {
    margin-top: 1.5rem;
}

/* Header Section Styles */

.navbar-nav li a {
    font-size: 18px;
    font-weight: bold;
    color: var(--theme-dark) !important;
}

.navbar-nav li:hover {
    border-bottom: 3px solid var(--theme-red);
}

.active-link {
    border-bottom: 3px solid var(--theme-red);
}

/* Journalist Section */

.journalist-section {
    margin-top: 5rem;
}

.journalist-section img {
    max-width: 100%;
}

.journalist-section p {
    font-size: 18px;
}

/* Articles Section */

hr {
    width: 15%;
    height: 1px;
    background-color: var(--theme-red);
}

.articles-section img {
    max-width: 100%;
    height: 300px;
}

.articles-section h6 {
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}

.articles-section p {
    font-size: 16px;
    padding: 0;
}

.articles-section a:hover {
    color: var(--theme-red);
    text-decoration: none;
}

.post h5 {
    font-size: 20px;
    font-weight: bold;
}

.post p {
    font-size: 18px;
}

.post-tag_label {
    font-size: 16px !important;
    font-weight: bold;
}

.post-tag_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: .5em;
    right: .5em;
}

.btn-custom {
    font-size: 20px;
    padding: 10px 80px;
    color: #ffffff;
    background-color: var(--theme-red);
    border: 0px;
}

.btn-custom:hover {
    background-color: #ffffff;
    color: var(--theme-red);
    border: 1px solid var(--theme-red);
}

/* Footer Section */
.footer-section {
    background: #3C3D48;
    color: #ffffff;
}

.footer-section ul {
    list-style: none;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
}

/**************************************************
    * @media queries *
***************************************************/

@media only screen and (max-width: 800px) {
    [class*="col-"] {
        margin-top: .5rem;
    }
}